.productList {
  flex: 80%;
  height: 100vh;
}
.productList::-webkit-scrollbar {
  display: none;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListDelete {
  color: #fff;
  cursor: pointer;
}
